.app {
    text-align: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    // font-family: 'Bebas Neue', sans-serif;
  
    &Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      // font-family: 'Bebas Neue', sans-serif;
    }
  }